[submodule "external/multirecorderjs"]
	path = external/multirecorderjs
	url = https://github.com/Khan/MultiRecorderJS
[submodule "external/transloaditxhr"]
	path = external/transloaditxhr
	url = https://github.com/Khan/transloadit_xhr
