div
   div(ui-ace="{onLoad: vm.aceLoaded}")
   div(ng-if="vm.showLanguageSelector")
      span Language du fichier :
      select(ng-model="vm.language", ng-options="option as option.label for option in vm.languageOptions track by option.id", ng-change="vm.languageChanged()")