div#fioi-editor2.fioi-editor2
   ul.fioi-editor2_tabs
      li.fioi-editor2_tab(ng-repeat="tab in vm.tabs track by tab.id", ng-class="{'active':tab.id===vm.tab.id}", ng-click="vm.selectTab(tab)")
         span.fioi-editor2_tab-title {{tab.title}}
         span.fioi-editor2_close-tab(ng-click="vm.closeTab(tab, $event)") ×
      li.fioi-editor2_new-tab(ng-click="vm.addTab()")
         | +
      li.fioi-editor2_fullscreen(ng-click="vm.toggleHistory()")
         span.glyphicon.glyphicon-time
      li.fioi-editor2_fullscreen(ng-click="vm.toggleFullscreen()",style="float: right;")
         span.glyphicon.glyphicon-fullscreen
      li.fioi-editor2_fullscreen(ng-if="vm.hasConcepts",onclick="conceptViewer.show()",style="float: right;")
         | ?
   div.fioi-editor2_buffers(ng-class="vm.buffersClasses")
      div(ng-if="!vm.tab.buffers",ng-i18next="editor_notabs")
      div(ng-repeat="buffer in vm.tab.buffers track by buffer")
         fioi-editor2-buffer(buffer="{{::buffer}}")
