div.fioi-editor2
   ul.fioi-editor2_tabs
      li.fioi-editor2_new-tab(ng-click="vm.addTab()" title="ajouter un {{vm.typeName}}")
         | +
      li.fioi-editor2_tab(ng-repeat="tab in vm.tabs track by tab.id", ng-class="{'active':tab.id===vm.tab.id}", ng-click="vm.selectTab(tab)")
         span.fioi-editor2_tab-title {{tab.title}}
         span.fioi-editor2_close-tab(ng-click="vm.closeTab(tab, $event)") ×
   div.fioi-editor2_buffers(ng-class="vm.buffersClasses")
      div(ng-if="!vm.tab.buffers")
         | no tabs
      div(ng-repeat="buffer in vm.tab.buffers track by buffer")
         div.fioi-editor2_buffer_title(ng-if="vm.bufferNames")
            | {{vm.bufferNames[$index]}}
         fioi-editor2-buffer(buffer="{{::buffer}}")
