.fioi-editor2 {
   width: 762px;
}

ul.fioi-editor2_tabs {
   font: bold 11px Verdana, Arial, sans-serif;
   list-style-type: none;
   padding-bottom: 24px;
   border-bottom: 1px solid #CCCCCC;
   margin: 0;
}

ul.fioi-editor2_tabs > li {
   float: left;
   height: 21px;
   line-height: 21px;
   padding: 0 7px;
   background-color: #E0F3DB;
   margin: 2px 2px 0 2px;
   border: 1px solid #CCCCCC;
   cursor: pointer;
}

ul.fioi-editor2_tabs > li.active {
   border-bottom: 1px solid #fff;
   background-color: #FFFFFF;
}

ul.fioi-editor2_tabs > li:hover .fioi-editor2_tab-title {
   text-decoration: underline;
}

.fioi-editor2_close-tab {
   padding: 0px 2px;
   margin-left: 2px;
   border-radius: 3px;
}

.fioi-editor2_close-tab:hover {
   background-color: #D8D8D8;
}

.fioi-editor2_buffers {
   width: 100%;
}

.fioi-editor2_buffers textarea {
   width: 756px;
   height: auto;
   text-align: left;
   border: 1px solid #CCCCCC;
   border-top: none;
}

.fioi-editor2_buffers .ace_editor {
   width: 760px;
   height: 350px; /* 14px * 25 lines */
   border: 1px solid #CCCCCC;
   border-top: none;
}

/*
#sourcesEditor {
   width:762px;
}

#testsEditor {
   width:762px;
}

.CodeMirror {
  text-align: left;
  border: 1px solid #CCCCCC;
  border-top: none;
}

.CodeMirror.basic {
  border-top: 1px solid #CCCCCC;
}

.tooltip {
   display:none;
}
*/